
.modal-btn {
    margin: 20px 0;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.modal-box {
    width: 400px;
    height: 400px;
    max-width: 100%;
    margin: 0 auto;
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: #999;
    padding: 10px 20px 40px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%);
    z-index: 6;
    opacity: .95;
}

.modal-close-btn {
    background-color: rgb(255, 0, 0);
    color: #fff;
    outline: none;
    width: 30px;
    margin-bottom: 15px;
    padding: 4px 8px;
    border-radius: 50%;
    border: none;
    cursor: pointer;    
}